<div class="nx-page-container @ContainerClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ContainerClass { get; set; }
}
