@inherits LayoutComponentBase
@using WinterRose.Nexus.Registry.Features.Components

<PageContainer>
    <PageHeader Title="Manage your account" Subtitle="Change your account settings" />

    <div class="manage-layout">
        <nav class="manage-sidebar">
            <ManageNavMenu />
        </nav>

        <div class="manage-content">
            @Body
        </div>
    </div>
</PageContainer>